body {
    background-image: url('../Images/mountain.jpg');
    background-position: center;
    background-size: cover;
}

.navButtons {
    position: relative;
    padding-top: 1em;
}

.navButtons li {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: black;
    list-style-type: none;
    padding-left: 1em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: purple;
}

#intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 60px;
    height: 400px;
    top: 2em;
}

#work {
    text-align: center;
    margin: 60px;
    height: 300px;
    border: 2px solid purple;
    border-radius: 10px;
}

#work p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#contact {
    text-align: center;
    margin: 60px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
}

#contact h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: underline;
}

#contact li {
    list-style-type: none;
}

#toTop {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;   
    text-align: center;
    padding-bottom: 1em;
}