body {
    background-image: url('../Images/mountain.jpg');
    background-position: center;
    background-size: cover;
}

.navButtons {
    display: -webkit-inline-flex;
    justify-content: flex-start;
}

.pageLinks {
    display: -webkit-inline-flex;
    justify-content: right;
}

.navButtons li {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: black;
    list-style-type: none;
    padding: 20px 10px;
}

.pageLinks li {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: black;
    list-style-type: none;
    padding: 20px;
    margin-left: 850px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: purple;

}

#intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin: 60px;
    height: 400px;
}

#work {
    text-align: center;
    margin: 60px;
    height: 300px;
    border: 2px solid purple;
    border-radius: 10px;
}

#work p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#contact {
    text-align: center;
    margin: 60px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
}

#contact h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-decoration: underline;
}

#contact li {
    list-style-type: none;
}