body {
    background-image: url('../Images/mountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navButtons {
    position: relative;
    padding-top: 1em;
}

.navButtons li {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: black;
    list-style-type: none;
    padding-left: 1em;
}

.navButtons li:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: purple;
}

#intro {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 60px;
    height: 400px;
    top: 2em;
}

#work {
    text-align: center;
    margin: 30px;
    height: 310px;
    border: 2px solid purple;
    border-radius: 10px;
    text-decoration: underline;
    text-align: center;
}

#work li {
    list-style-type: none;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 210px;
    width: 280px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

#work p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

#contact {
    text-align: center;
    margin: 30px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 10px;
}

#contact h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    text-decoration: underline;
}

#contact li {
    list-style-type: none;
}

#contact li:hover {
    text-decoration: underline;
}

#toTop {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;   
    text-align: center;
    padding-bottom: 1em;
}

#toTop:hover {
    text-decoration: underline;
}
